@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*, h1, h2, h3, p, a, img, button , input{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

:root{
	--Very-Dark-Gray: hsl(0, 0%, 17%);
	--Dark-Gray: hsl(0, 0%, 59%);
}
body{
	font-family: Rubik;
}
.header{
	background: url("images/pattern-bg.png");
	background-size: cover;
	background-position: top;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}
.heading{
	color: #fff;
	font-weight: 400;
	margin-top: 1.5rem;
}
form{
	display: inline-flex;
	margin-top: 1.5rem;
}
input{
	border: none;
	width: calc(270px + 10vw);
	outline: none;
	font-size: 20px;
	font-weight: 500;
	padding: 20px 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px; 
}
button{
	background: var(--Very-Dark-Gray);
	border: none;
	outline: none;
	width: 60px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
button:hover{
	background: var(--Dark-Gray);
	cursor: pointer;
}
.box{
	position: absolute;
	bottom: 0;
	transform: translateY(50%);
	margin-top: 2rem;
	margin-right: 10px;
	margin-left: 10px;
	background: #fff;
	width: 90%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 999;
}
.content{
	padding: 1.5rem 5rem;
}
.content h3{
	color: var(--Dark-Gray);
	font-size: 0.8rem;
	font-weight: 500;
	margin-bottom: 0.2rem;
}
.content h2{
	font-size: 1.4rem;
	font-weight: 700;
}
.sub-box:not(:last-child){
	margin-bottom: 1.2rem;
}
@media (min-width: 768px){
	.content{
		display: flex;
		justify-content: space-between;
		padding: 2rem 2rem;
	}
	.sub-box{
		padding: 1rem 0rem;
	}
	.sub-box:not(:last-child){
		margin-bottom: unset;
	}
	.sub-box:not(:first-child){
		border-left: 1px solid var(--Dark-Gray);
		padding-left: 2rem;
	}
}

#mapid{
	height: 60vh;
}

.leaflet-control{
	display: none;
}
