@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*, h1, h2, h3, p, a, img, button , input{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

:root{
	--Very-Dark-Gray: hsl(0, 0%, 17%);
	--Dark-Gray: hsl(0, 0%, 59%);
	font-size: 16px;
}
body{
	font-family: Rubik;
}
.header{
	background: url("images/pattern-bg.png");
	background-size: cover;
	background-position: top;
	height: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}

#mapid{
	height: 100vh;
}

.heading{
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	margin-top: 0.5rem;
}
form{
	display: inline-flex;
	margin-top: 0.5rem;
}
input{
	width: 90%;
	border: none;
	outline: none;
	font-size: 20px;
	font-weight: 500;
	padding: 20px 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px; 
}
button{
	width: 50px;
	background: var(--Very-Dark-Gray);
	border: none;
	outline: none;
	padding: 20px 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
button:hover{
	background: var(--Dark-Gray);
	cursor: pointer;
}
.box{
	position: absolute;
	bottom: 0;
	transform: translateY(50%);
	margin-right: 10px;
	margin-left: 10px;
	background: #fff;
	border-radius: 10px;
	z-index: 500;
}
.content{
	padding: 1.5rem 5rem;
	text-align: left;
}
.content h3{
	color: var(--Dark-Gray);
	font-size: 0.8rem;
	font-weight: 500;
}
.content h2{
	font-size: 1.2rem;
	font-weight: 500;
}
.sub-box:not(:last-child){
	margin-bottom: 1.2rem;
}
@media (max-width: 766px){
	br{
		display: none;
	}
}
@media (min-width: 767px){
	.header{
		height: 280px
	}
	.heading{
		margin-top: 2.219rem;
	}
	form{
		margin-top: 2.219rem;
	}
	input{
		width: 496px;
	}
	button{
		width: 60px;
	}
	.box{
		width: 85%;
		max-width: 1110px;
	}
	.content{
		display: flex;
		justify-content: space-between;
		padding: 2.5rem 2rem;
	}
	.content h2{
		font-size: 1rem; 
		margin-top: 0.313rem;
	}
	.sub-box{
		width: 25%;
    	padding-right: 10px;
	}
	.sub-box:not(:last-child){
		margin-bottom: unset;
	}
	.sub-box:not(:first-child){
		border-left: 1px solid var(--Dark-Gray);
		padding-left: 2rem;
	}

	#mapid{
	height: calc(100vh - 280px);
	}
}


@media (min-width: 1024px){
	.heading{
		margin-top: 2.219rem;
	}
	form{
		margin-top: 2.219rem;
	}
	input{
		width: 496px;
	}
	button{
		width: 60px;
	}
	.box{
		width: 85%;
		max-width: 1110px;
	}
	.content{
		display: flex;
		justify-content: space-between;
		padding: 2.5rem 2rem;
	}
	.content h2{
		font-size: 1.4rem;
		margin-top: 0.313rem;
	}
	.sub-box{
		width: 25%;
    	padding-right: 10px;
	}
	.sub-box:not(:last-child){
		margin-bottom: unset;
	}
	.sub-box:not(:first-child){
		border-left: 1px solid var(--Dark-Gray);
		padding-left: 2rem;
	}
}

.leaflet-control{
	display: none;
}

.overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #000;
	opacity: 0.4;
	z-index: 501;
}
.error-msg{
	display: none;
	background-color: hsl(227deg 67% 61%);
	width: fit-content;
	padding: 5rem 5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	opacity: 1;
	z-index: 502;
	color: #fff;
}
.error-msg p{
	font-size: 1.5rem;
	font-weight: 400;
}
.close{
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}